.slide{
    height: 120px;
}

.sliderLayoutContainer{
    padding-bottom: 45px;
    margin-bottom: 10px;
}

.layoutContainer{
    margin-bottom: 20px;
}

.sliderTrackContainer{
    height: 155px;
}

@media only screen and (max-width: 640px) {
    .layoutContainer{
        display: none;
    }
}
